* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 75%;
  max-width: 1500px;
  margin: auto;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-grow: 1;
  margin-top: 55px;
  align-items: center;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 0.655;
  }
}
